/* Сброс базовых стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #18181b;
    color: #ffffff;
    line-height: 1.5;
}

/* Шапка сайта */
header {
    background-color: #9147ff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header nav {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

header nav a {
    margin-right: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-link-styles a, a.no-link-styles {
    color: inherit;
    text-decoration: inherit;
}